.companions-country-filter {
  min-width: $mobile-width;
  max-width: $mobile-width;
  padding: 10px 25px;
  padding-top: 32px;
  margin-top: -20px;
  margin-bottom: 24px;

  position: absolute;
  left: 50%;
  // right: 0;
  z-index: 5;
  transform: translateX(-50%);

  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

@media #{$media-tablet-more} {
  .companions-country-filter {
    min-width: $tablet-width;
    max-width: $tablet-width;
    padding: 0 74px;

    padding-top: 53px;
    margin-top: -50px;
    margin-bottom: 46px;

    border-radius: 0 0 60px 60px;
  }
}

@media #{$media-desktop-more} {
  .companions-country-filter {
    min-width: auto;
    max-width: none;
    padding-left: 59px;
    padding-right: 61px;

    position: static;
    left: auto;
    right: auto;
    transform: none;
  }
}
