.soc-links {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.soc-links__link {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 0;

  position: relative;

  background-color: $yellow-base;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;

  &_fb {
    background-image: url("../img/facebook.svg");
    background-size: 11px 21px;
  }

  &_vk {
    background-image: url("../img/vk.svg");
    background-size: 23px 12px;
  }

  &_inst {
    background-image: url("../img/instagram.svg");
    background-size: 18px 18px;
  }
}

@media #{$media-tablet-more} {
  .soc-links__link {
    width: 60px;
    height: 60px;

    &_fb {
      background-size: 14px 28px;
    }

    &_vk {
      background-size: 31px 16px;
    }

    &_inst {
      background-size: 24px 24px;
    }
  }
}
